html{
	background-color: #222;
	cursor: crosshair;
	overflow: hidden;
}

#navbar{
    font-size: 40px;
    height: 10px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

#navbar a{
    text-decoration: none;
    color: #abc;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
#navbar a:hover{
    font-size: 50px;
    color: yellow;
}

#menus ul{
    background-color: #ccc;
    color: #777;
    width: 150px;
    display: none;
    position: absolute;
    padding: 10px;
    -moz-box-shadow: 0px 0px 5px black;
    -o-box-shadow: 0px 0px 5px black;
    -webkit-box-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 5px black;
    -o-border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#menus li{
    list-style: none;
    line-height: 40px;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menus li:hover{
    font-size: 17px;
    color: #333;
    background-color: #eee;
}

#menus a{
    text-decoration: none;
}
